<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sombreros finos Conoce Más</title>

    <!-- Bootstrap  CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS adicionales -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/css/owl.css">

  </head>

  <body>

    <!-- ***** Precarga inicio ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Precarga fin ***** -->

    <!-- cabecera -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Sombreros <em>Finos</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/conoce">Conoce más</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Registrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!--Contennido -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Conoce Más</h4>
              <h2>Sobre los Sombreros de Paja Touilla</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Sabías qué?</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Quieres saber la historia de los Sombreros de Paja Toquilla?</h4>
              <p>La historia del sombrero de paja toquilla se remonta al siglo XVI, cuando ya eran usados por los indígenas de las costas 
                de lo que hoy son las provincias de Guayas y Manabí. Con el paso de los años, este tejido propio de nuestro país evolucionó 
                e incorporó formas europeas producto de la colonización española.</p>
              <p>Alcanzó fama mundial a partir de 1906,  cuando el entonces presidente de EE.UU., Theodore Roosevelt, 
                lució un sombrero durante su visita al Canal de Panamá. En aquella ocasión, los medios de comunicación,
                atraídos por la prenda comenzaron a referirse a ella como “Panamá Hat”.</p>
              <p>A partir de entonces, el sombrero se volvió más y más conocido al punto que durante la época de oro de Hollywood 
                fue utilizado por las grandes estrellas del cine como un símbolo de elegancia y distinción. Incluso apareció en películas taquilleras,
                y ahora consideradas clásicas, como “Lo que el viento se llevó” y “Casablanca”. Con tanta promoción, 
                las ventas de este producto llegaron a su punto cumbre en 1944, año en que se convirtió en el elemento de mayor exportación del Ecuador.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>SOMBREROS FINOS DE PAJA TOQUILLA</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>
  </body>

</html>
