<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
  
    <title>Sombreros Finos Contact</title>

    <!--   CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--  CSS  -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/estilo/estilo2.css">

  </head>

  <body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  

    <!-- Cabecera -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Sombreros <em>Finos</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/conoce">Conoce más</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Registrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!--Contenido de pagina -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>contactanos</h4>
              <h2>Nuestro servicio de atencion a clientes te ayudara</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Ubicanos</h2>
            </div>
            <b>Estamos ubicados en Montcristi</b>
          </div>
          <div class="col-md-8">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15061.022022031333!2d-80.67104618990953!3d-1.0494812643248002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902bfac57af9c0b5%3A0xd52b8c1fad2d134!2sCentro%20C%C3%ADvico%20%22Ciudad%20Alfaro%22!5e0!3m2!1ses!2sec!4v1624777004788!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Envianos un mensaje</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                   
                   <!--grupo de Nombre-->
                   <div class ="formulario_grupo formulario_grupo" id="grupo_usuario">
                    <label for="usuario" class="formulario_label">Nombre</label>
                <div class="formulario_grupo-input">
                    <input type="text"class="formulario_input" name="usuario" id="usuario" placeholder="Usuario">
                    <i class= "formulario_validacion-estado fas fa-times-circle"></i>
                </div>
                    <p class="formulario_input-error"> El Nombre debe contener de 5 a 15 digitos. Debe contener solo letras.</p>
            </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail de contacto" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu mensaje" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Enviar Mensaje</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="accordion">
              <li>
                <a>Contacta con nosotros</a>
                <p>Ponte en contacto con nosotros, atenderemos tus dudas e inquietudes de manera personal, tambien podras cotizar y pedirproductos a medida
                  con cualquier detalle extra o arreglo.
                </p>
                <div class="content">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>SOMBREROS FINOS DE PAJA TOQUILLA</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>
    <script src="/java/java2.js" type="text/javascript"></script>

  </body>

</html>
