<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Sombreros Finos</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--

TemplateMo 546 Sombreros finos de paja toquilla

https://templatemo.com/tm-546-Sombreros finos de paja toquilla

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Sombreros <em>Finos</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/conoce">Conoce más</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Registrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!--Contennido -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Sombreros de Paja toquilla</h4>
              <h2>LABORADO 100% A MANO</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PRECIOS FOTOS Y DESCRIPCION FICTICIOS -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Todos los productos</h2>
              <a href="/productos">VER TODOS LOS PRODUCTOS <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="products.html"><img src="/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="products.html"><h4>Sombrero clasico</h4></a>
                <h6>$50.00</h6>
                <p>Sombrero de paja toquilla clasico con erreglo en color negro.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Conoce más sobre los Sombrero finos de paja toquilla</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Sabías qué?</h4>
              <p>Es un tradicional sombrero con ala de Ecuador, que se confecciona de las hojas trenzadas de la palmera del sombrero de paja toquilla.</p>
              <ul class="featured-list">
                <li><p>Originarios y fabricados principalmente en Montecristi - Ecuador.</p></li>
                <li><p>El tejido del sombrero fino de paja toquilla ecuatoriano es reconocido por la UNESCO como Patrimonio Cultural Inmaterial de la Humanidad el 6 de diciembre de 2012.</p></li>
                <li><p>La ciudad ecuatoriana de Cuenca es la principal productora. Sin embargo, el cantón de Montecristi tiene la reputación de producir los sombreros de calidad más fina.</p></li>
              </ul>
              <a href="/conoce" class="filled-button">Leer más</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>SOMBREROS FINOS DE PAJA TOQUILLA</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>

  </body>

</html>
